[2015-11-06 09:58] mike-goodwin opened #1 "Demo threat model"
The system should have a demo threat model to help people get started. This could be coloured differently to make sure people can tell it apart from their own, real models.

[2015-11-06 10:00] mike-goodwin opened #2 "Should be able to create a new diagram straight from the threat model summary"
It's not obvious that you should add a diagram when creating a new threat model. Then when you've saved it you are left wondering what to do.

[2015-11-20 17:35] mike-goodwin opened #3 "Add visual indication for unmitigated threats"
Elements in diagrams that have open (unmitigated) threats should have some kind of visual distinguishing mark - say a different colour, or line style. This will make is easy for users to see where they need to look when designing mitigations.

[2015-12-04 22:48] mike-goodwin commented on #1
Implemented with commit 637123c

[2015-12-04 22:49] mike-goodwin commented on #1
Implemented with commit 637123c

[2015-12-04 22:49] #1 closed

[2015-12-05 20:48] mike-goodwin opened #4 "Adding the same model twice gives an error"
Related to duplicate item in Angular repeater

[2015-12-06 21:32] mike-goodwin commented on #4
Fixed in commit 299d369

[2015-12-06 21:32] #4 closed

[2015-12-08 23:35] mike-goodwin commented on #2
Implemented in commit 2cdbd2c

[2015-12-08 23:35] #2 closed

[2015-12-09 22:54] mike-goodwin opened #5 "Tighten security headers"

[2015-12-12 22:06] mike-goodwin commented on #5
Removed x-powered-by, server headers. Added x-frame-options, x-xss-protection, x-content-type-options, hsts and csp. because of lib dependencies needed to allow unsafe-inline on styles and unsafge-eval on scripts

[2015-12-12 22:06] #5 closed

[2016-02-07 23:08] mike-goodwin opened #7 "Deleting the first model deletes them all!!"
If you have several models defined and you delete the first one, ALL the models are deleted!

[2016-02-08 20:23] mike-goodwin commented on #7
Fixed in commit 59fc0fbac312957e6af14c121cda223fead7fa73

[2016-02-08 20:23] #7 closed

[2016-02-12 00:02] mike-goodwin commented on #3
implemented in commit 40e044b

[2016-02-12 00:02] #3 closed

[2016-05-11 17:04] mike-goodwin opened #11 "No pagination on github requests"
The GitHub integration does not support pagination for cases where >30 items are returned

[2016-05-13 19:39] jeg1972 opened #13 "Error when searching for model to import"
When I was searching for a model to import, I chose to select a threat model from jeg1972/owasp-threat-dragon/master, unfortunately there wasn't a file to import from that location. but I received the following error message.
![screenshot 2016-05-13 at 20 33 53](https://cloud.githubusercontent.com/assets/842461/15259692/b8b29464-194a-11e6-850b-abc07631e716.png)

[2016-05-13 21:14] mike-goodwin commented on #11
implemented in commit a8e6f16751dbf9a5302dba26305321a180e1768c

https://github.com/mike-goodwin/owasp-threat-dragon/commit/a8e6f16751dbf9a5302dba26305321a180e1768c

[2016-05-13 21:14] #11 closed

[2016-05-13 21:38] mike-goodwin commented on #13
Please can you try again. I may have fixed this in the commit I did tonight. This is what I get now when browsing to that repo/branch. Note that this links to e.g. create a new model are broken - this is another issue :)

![image](https://cloud.githubusercontent.com/assets/5851302/15262584/4d0036f2-195b-11e6-88b7-276077183455.png)

[2016-05-18 22:00] mike-goodwin-sage commented on #13
Based on our conversation the other day, I'm closing this as fixed. Feel free to re-open if you disagree.

[2016-05-19 16:45] mike-goodwin commented on #13
Based on our discussion the other day, I'm closing this issue. Please feel free to re-open if you disagree.

[2016-05-19 16:45] #13 closed

[2016-12-27 17:32] dskrvk opened #22 "Local model storage"
Would be great to be able to just create a model from scratch, managed locally, as opposed to something tied to a particular Github repo. This is for evaluation purposes, plus not everyone uses Github for source control.

[2016-12-27 17:41] dskrvk opened #23 "Bitbucket auth"
Bitbucket (which my team happens to use) is a fairly popular alternative to Github. Would be great to have an integration with that as well.

[2016-12-28 20:32] mike-goodwin commented on #22
As it happens, I'm working on a re-architected version that include an online variant will be a cross-platform, local installed variant based on Electron (like the GitHub git client, the Slack client or Visual Studio code). It's quite a major change so it is taking some time though. I'll post back here when is some progress to report.

[2016-12-28 21:21] dskrvk commented on #22
OK, glad to hear the project is alive and well. There really is a need for an open-source, easy-to-use threat assessment tool that helps teams follow good security practices.

[2017-04-25 21:16] thatsjet opened #39 "ERR: Threat Dragon received an invalid request from GitHub"
Whenever I try login I get: "Threat Dragon received an invalid request from GitHub. Your internet connection may not be secure!". I'm able to use GitHub as OAuth provider with other sites.

I click login, get directed to GH for auth, succesfully approve use by TD and then get redirected with that error.

[2017-04-25 21:27] thatsjet commented on #39
Update: I found a link in the description to threatmodel.org and found I was logged in. Issue might simply be in posting from threatdragon.azuresites.net link won't work.

[2017-04-25 21:28] mike-goodwin commented on #39
Hmm. I have seen that sometimes, but never been able to reproduce it reliably. Please can you try a couple of things?

1. What URL are you using? I just moved the demo to https://threatdragon.org. Maybe this has broken something. Or maybe the old URL is broken
2. If you hit refresh on the page with the error, does it fix it?
3. If you clear any cookies for the domain, does that fix it?

Thanks for

[2017-04-25 21:29] thatsjet commented on #39
Yea, that was it. The link from OWASP goes to the azurewebsites.net link which borks. If you use threatdragon.org it works.

[2017-04-25 21:32] mike-goodwin commented on #39
Ah - I forgot to update that. I'll do it now. The problem is that I'm too cheap to pay for the basic tier on Azure websites so I can't use my own SSL cert and domain ;-) I got around it by using CloudFlares crypto for the moment, but the underlying azurewebsites.net URL is still accessible. Sorry abotu that, and thanks for pointing out the problem.

[2017-04-25 21:36] mike-goodwin commented on #39
The link from the OWASP wiki is now pointing to https://threatdragon.org

[2017-04-25 21:36] #39 closed

[2017-04-26 12:15] mike-goodwin commented on #22
An update on this:

The desktop variant is basically working, although there is some work to do on it still. If you would like to try it you can find it here:

https://github.com/mike-goodwin/owasp-threat-dragon-desktop

To get it working:

- clone the repo
- install it with `npm install`

Mac:

- run it with `./node_modules/electron/dist/Electron.app/Contents/MacOS/Electron .`

Windows:

- run it

[2017-04-26 15:00] dskrvk commented on #22
Awesome, will give it a try!

[2017-04-28 18:45] javierjeronimo commented on #23
Moreover, Github SSO provides the app write access both to public and private repos of the user, and given that it is still under development, it is dangerous in the event of a bug.

[2017-04-29 08:46] mike-goodwin commented on #23
Thank you for your interest in this project! You are the second person to mention that in the last week :)

The [development branch deployment](https://threatdragondev.azurewebsites.net) currently asks for access to public repos only. It's pretty much the same as the master branch at the moment. I'll probably merge from dev to master this weekend.

[2017-04-29 08:49] mike-goodwin commented on #23
As an aside - I'm going to make a start on this soon. Sorry for the very long delay, but I was in the middle of  a massive architectural change to the project to enable an installbel desktop variant. I'm getting to the end of that now so I should have time to look at this.

[2017-04-29 16:15] mike-goodwin commented on #23
Update: The [master branch deployment](https://threatdragon.org) now only asks for access to public repos. I think you will have to revoke your existing access token and re-authorize to take advantage of this.

[2017-05-03 06:12] windyzxcui opened #41 "Fail to deploy in MAC OSX"
Hi, I want to deploy locally in MAC OSX, but it fails , when I run
`npm start`
Terminal shows following error:

Any idea ?

[2017-05-03 07:22] mike-goodwin commented on #41
Thanks for your interest!

Judging from this log message:

`{"name":"threatdragon","excludes":["req-headers","res-headers","res","req","short-body","body","response-hrtime","incoming","user-agent","response-time","http-version"],"hostname":"homedeMacBook-Pro.local","pid":1053,"level":50,"security":true,"msg":"secure session cookie flag was false - should only happen in dev environments","time":"20

[2017-05-03 07:44] mike-goodwin commented on #41
I just noticed that the README says `SESSION_STORAGE` instead of `SESSION_STORE`. Sorry for that - I just corrected it.

[2017-05-03 09:14] windyzxcui commented on #41
Thanks @mike-goodwin , I add `export SESSION_STORE=local` in environment variables, when I run `npm start` again , terminal response following error:

How can I config the clientID option?

[2017-05-03 10:30] mike-goodwin commented on #41
You need to register your local instance of the application with GitHub and then set some environment variables. This is described in the environment variables section of the [README](https://github.com/mike-goodwin/owasp-threat-dragon/blob/master/README.md).

It is relatively complicated to set this up. As an alternative, depending on your needs, you could consider looking that the [desktop app v

[2017-05-03 10:37] mike-goodwin commented on #41
Also, the log message:

`express-session deprecated req.secret; provide secret option td/config/session.config.js:32:13`

is because you need to set a `SESSION_SIGNING_KEY` environment variable for session signing. You will also need one or more session encryption keys `SESSION_ENCRYPTION_KEYS`. This is all in the README.

As I said - it is fairly complicated...

[2017-05-03 13:52] windyzxcui commented on #41
Thanks @mike-goodwin .
I will wait for your installer for MAC :)
This project is very useful, thanks for your effort 👍

[2017-07-20 16:49] mike-goodwin commented on #22
I'm going to close this since the desktop variant is basically there now.

[2017-07-20 16:49] #22 closed

[2017-07-20 16:51] mike-goodwin commented on #41
The packaged version for Macs is available now. Due to a lack of code signing, auto-update does not work on Mac, but I hope to get this sorted shortly.

[2017-07-20 16:51] #41 closed

[2017-08-02 21:43] securestep9 opened #49 "unable to Undo"
Undo command is missing in Edit - it makes life very difficult when you accidentally delete something by mistake (Redo is needed as well)

[2017-08-02 21:46] securestep9 opened #50 "feature request: ability to import/export Microsoft TM7, SVG & PDF"
ability to import/export Microsoft TM7 format, SVG & PDF will make this tool far more mature and useful.

[2017-08-10 14:08] jkrow opened #51 "Ability to export diagram with detailed threats into pdf or visio document"
Excellent tool. Would like the ability to export the diagram, especially from the windows app, as a pdf or visio diagram with full threat detail present and visible.

[2017-09-19 16:59] xolian opened #52 "GIT integration to create Issue(s) with Application Repo (Enhancement)"
Ability to create arbitrary GIT Issues in github.com or GHE from the GIT Url of the application/code you are Threat Modeling.

[2017-11-09 23:34] mike-goodwin commented on #49
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/eOWKIr3A/54-test)

[2017-12-02 07:35] zeroXten opened #60 "STRIDE threat type field only supports one value"
STRIDE isn't used to categorise threats, but as an aid to discovering them, so some threats may feel naturally associated with more than one STRIDE type.

[2018-06-07 09:04] subashsn opened #68 "Request to relax test case requirements"
We've added Gitlab as a provider along with Github for Threat Dragon. Currently it's functional, but the test cases are failing due to ES6 syntax and changes done to accomodate multiple providers; Github and Gitlab. Can we relax this?

If this is okay, I'd be happy to raise a pull request that adds Gitlab integration for Threat Dragon. Thanks

[2018-06-07 09:46] Gby56 commented on #68
+1 for the Gitlab integration, I've seen your fork and integrating it in Threat Dragon would boost the popularity.
Not sure if Mike is still active for now, but I'm hoping the development goes on

[2018-06-18 07:04] v1bh0r opened #69 "npm audit: 61 vulnerabilities found"
[code]

[2018-06-18 10:13] Gby56 commented on #69
Really hoping the project lives on, so far it's looking almost dead :(

[2018-07-10 16:28] fadeevab opened #72 "github oauth: too much of requested permissions"
To use the online version of application the GitHub's authentication is requested.

However a requested **scope** of permissions is quietly wide:

I'm pretty sure it's enough to get an **empty scope** (see https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/): to read public account information. It's not clear about all other permissions.

Thank you!

[2018-07-17 15:29] anirbanctts opened #73 "github authentication is not working on localhost"
I have just cloned the master repo and setup the oauth in my git account as per given steps, Also i have setup env, client_id, client_secret etc as env variable. Have setup SESSION_STORE as local in env variable. Now when i click the login it is redirecting me to git authentication login page but post authentication i am again getting redirected back to login page of this application. Have tried s

[2018-07-18 09:03] anirbanctts opened #74 "Error: Invalid key length at new Cipheriv (crypto.js:219:16)"
Keep on getting this error after entering github credentials.
Error: Invalid key length
at new Cipheriv (crypto.js:219:16)
at Object.createCipheriv (crypto.js:619:10)
at encryptData
....

var crypto = require('crypto');
var inputEncoding = 'ascii';
var outputEncoding = 'base64';
var keyEncoding = 'ascii';
var algorithm = 'aes256';

these properties were unchanged. Not sure why this issue keeps on

[2018-07-18 09:08] anirbanctts commented on #73
Figure this out. Callback URL was the problem, OAuth/Github was url meant to be.
However there was encryption issue that started coming, opened a new issue and closing this one

[2018-07-18 09:08] #73 closed

[2018-08-07 12:29] dave-89 commented on #51
+1

[2018-09-04 15:35] StephenOTT commented on #72
+1 on this.  WAYYY to much access is being requested

[2018-10-15 06:37] ayushiKalwar opened #76 "Threat model file in the web version"
After the web version is up in our machine, where do we we upload the threat model JSON file based on which our code is to be scanned.

[2018-11-13 07:54] secoopsio opened #79 "SyntaxError: Unexpected token U in JSON at position 0"
Hi there. I am getting an error regarding the Github Oauth process and hoping for some assistance :)

The error seems to be related to the callback URL. My setting for the callback URL is http://<IP>:3000/oauth/github. My homepage URL is set to http://<IP>:3000.

My .env variables are set to the below:
GITHUB_CLIENT_ID="<removed>"
GITHUB_CLIENT_SECRET="<removed>"
SESSION_SIGNING_KEY="UIJL08ihIS7H3

[2019-05-09 20:26] rkara commented on #79
I ran into this as well, you need to set the `SESSION_ENCRYPTION_KEYS` environment variable as well

`$ENV:SESSION_ENCRYPTION_KEYS="[{""isPrimary"": true, ""id"": 0, ""value"": ""XXXXXXX""}]"`

I'm not sure if it's required, but for my value I encrypted my `SESSION_SIGNING_KEY` using AES-128 encryption via [this](https://asecuritysite.com/encryption/keygen) website.

[2019-05-10 15:15] rkara opened #85 "Add ability to work with Bitbucket"
Threat Dragon currently supports Github, but does not support Bitbucket.  It would be beneficial to add support for Bitbucket.

[2019-05-10 15:16] rkara commented on #85
Closed duplicate of #23

[2019-05-10 15:16] #85 closed

[2019-05-10 15:17] rkara commented on #23
@mike-goodwin has any progress been made on this?

[2019-05-22 21:44] bc-venkata opened #86 "Enhancement request for copy paste text and Copy diagrams and threats"
It is redundant work to type threat's description and mitigations. It'll be easy to copy threats over from place to other. And it'll be convenient to have copy and paste options to copy/paste text all around

[2019-05-23 15:33] sgiftakis commented on #51
This tool is perfect for organizations that need a basic threat model where security is still maturing. My management is asking to export it but theres no way to do it. Would be awesome if this was possible in some way...maybe not PDF but maybe some nice display format with associated threats etc.

[2019-06-12 21:43] mike-goodwin commented on #69
Thanks for your interest in Threat Dragon - you are right, it was almost dead, but I'm trying to revive it :)

I'm closing this issue since I updated the production dependencies to remove all the possible vulnerabilities. At the time of writing [Snyk](https://snyk.io/test/github/mike-goodwin/owasp-threat-dragon) is showing 2 vulns One is High severity due to `express-bunyan-logger` which is unpatc

[2019-06-12 21:43] #69 closed

[2019-06-12 21:47] mike-goodwin commented on #76
Do you have the web version running locally? It only supports saving to GitHub at the moment. I'm not sure if this answers your question though...

[2019-06-12 21:55] mike-goodwin commented on #79
Yes, you need to set the session encryption keys. The reason for this is that the session state stores GitHub access tokens with a significant scope, so I thought they were certainly worth encrypting in storage as a defense in depth mechanism. There are two keys used to support key rotation without losing the ability to decrypt existing session state.

Encryption of new sessions is always done usi

[2019-06-12 21:56] #79 closed

[2019-06-12 22:11] mike-goodwin commented on #72
Thanks for your interest in Threat Dragon. I know what you mean about the scope. The problem is that the app wants to write to the repo to store the model files and [GitHub scopes](https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes) don't allow anything less than `repo` access as far as I can see.

This was one of the main reasons for creati

[2019-07-07 18:54] mike-goodwin commented on #51
This is implemented in the web version in pull request #100.

The report is pretty basic, so any PRs or comments on ways to improve it are very welcome.

[2019-07-07 18:54] #51 closed

[2019-07-07 18:56] mike-goodwin commented on #50
PR #100 implements the ability to export as PDF. I will wait for feedback on the initial implementation before implementing SVG and Microsoft TM7.

[2019-07-17 22:08] solrac901 opened #106 "Which browsers are suported?"
Having issues to create a basic template any recommendation on which browser i can use?

[2019-07-18 21:52] mike-goodwin commented on #106
It works on Firefox, Edge and Chrome on Windows, but I recently had problems on Chrome where it was impossible to select or add model elements. That seems to have gone away now. I never had any problems on FF or Edge.

I don't have access to a Mac at the moment, so it is untested on OSX (by me).

[2019-07-19 19:23] mike-goodwin commented on #68
Hello, apologies for the VERY slow reply. If you're still interested in this project I'd like to work with you to merge your GitLab work, preferably in a way that allows both GL and GH (and in future BitBucket).

[2019-07-24 16:37] solrac901 commented on #106
Im using Chrome and the elements (process,store,actor,etc) can be added to the diagram i will check in other browsers the version of Chrome that im using its
Google Chrome is up to date
Version 75.0.3770.142 (Official Build) (32-bit)
Thanks
Quick question exist any other option to export the report or store it ?

[2019-07-31 22:51] subashsn commented on #68
Sure, let's do this. How do we proceed?

[2019-08-07 09:41] micheelengronne opened #122 "Add Gitlab integration"
Is it possible to add Gitlab integration ?

Thanks.

[2019-09-30 07:57] jgadsden opened #107 "Can not escape from main screen (MacOS)"
Desktop version of Threat Dragon
Version 0.1.26
Mac OS 10.13.3 High Sierra
When the main screen is put into full screen mode, it is not possible to escape from this back to the desktop. The only way out is to bump the top of the screen

[2019-09-30 08:37] jgadsden opened #108 "Can not copy / paste using MacOS"
Desktop version of Threat Dragon
Version 0.1.26
Mac OS 10.13.3 High Sierra
When entering the model information such as Title, Owner, Reviewer, etc, it is not possible to copy or paste into the text boxes.

[2019-10-02 10:26] jgadsden opened #109 "Enhancement: Markdown formatting for text boxes"
An enhancement, would be useful if there was markdown formatting for text boxes, such as `High level system description` .

[2019-10-04 12:09] jgadsden opened #110 "Typo in Information Disclosure threat for data-flows"
When applying the suggested threats for a data flow component, there is a typo:
"Generic informtion disclosure threat", which should read "Generic information disclosure threat". This is only for the data flow components, the other components are spelt correctly.

[2019-10-04 12:38] jgadsden opened #111 "Dead space in diagram edit pane"
According to the width of the main window, a vertical dead space is present on the right hand side of the diagram edit area:
<img width="1055" alt="threat-dragon-dead-space" src="https://user-images.githubusercontent.com/29352392/66208101-42bda900-e6ac-11e9-8a43-955c7b0300a7.png">

[2019-10-06 21:13] jgadsden commented on #110
Note that a fix for this is pending, in pull request #42 "Fix typo in default title of disclosure" in owasp-threat-dragon-core repo

[2019-10-06 21:31] jgadsden commented on #108
Note that this may also be a more specific case of issue #86

[2019-10-15 04:46] jgadsden opened #112 "Update documentation for threat generation"
The documentation at docs.threatdragon.org needs updating, specifically the use of STRIDE By Element by the 'Threat generation rules' section http://docs.threatdragon.org/#threat-generation

[2019-10-15 04:46] jgadsden opened #144 "Update documentation for threat generation"
The documentation at docs.threatdragon.org needs updating, specifically the use of STRIDE By Element by the 'Threat generation rules' section http://docs.threatdragon.org/#threat-generation
In addition we now have linux distributions so the opening description needs updating

[2019-10-15 05:07] jgadsden opened #113 "Enhancement: bi-directional data flow"
It would be good to be able to specify bidirectional data flows, as well as the existing single direction data flow, as it would make some diagrams look less busy and would not detract from the information in the threat model

[2019-10-22 16:48] jgadsden opened #114 "Enhancement: block move in diagram editor"
It would be good to have the ability to move several elements at once in the diagram editor pane. I have drawn the diagram to far over to the right, and wished to centre it, but could not move more than one element at once.

[2019-10-24 21:19] jgadsden opened #115 "Enhancement: provide an API"
It would be good if there was an API to Threat Dragon, so that some functionality could be automated. At present this would probably just be 'generate a pdf report', but it may be useful in the future for other  functions.

[2019-11-11 14:13] NAlhirabi opened #116 "I tried to deploy locally in MAC OSX, but it fails"
Hello Mike
I tried to deploy locally in MAC OSX, but it fails , when I run
npm start
Terminal shows following error:

{"name":"threatdragon","excludes":["req-headers","res-headers","res","req","short-body","body","response-hrtime","incoming","user-agent","response-time","http-version"],"hostname":"m006.cs.cf.ac.uk","pid":81568,"level":50,"security":true,"msg":"secure session cookie flag was false

[2019-11-11 15:49] jgadsden commented on #116
Hello @NAlhirabi - this is probably due to a previous process still using this address. Have you got a crashed ThreatDragon or another application running that is still listening on 3000? Can you try `ps -eax |grep node` to see what node processes are running - you can use `kill -9 <PID>` on the PID if there are any unexpected Threat Dragon instances.

[2019-11-12 10:49] NAlhirabi commented on #116
thats what happened: and in the browser when I put (http://localhost:3000 ) the page shows Cannot GET /

m006:owasp-threat-dragon nadaalhirabi$ ps -eax | grep node
72589 ??         0:43.88 /private/var/folders/7n/czs033q94f1bvpj_9zsnvyg00000gn/T/AppTranslocation/B1130A94-5378-4331-AF06-E13708D28D6D/d/GitHub Desktop.app/Contents/Frameworks/GitHub Desktop Helper.app/Contents/MacOS/GitHub Desktop Hel

[2019-11-13 07:21] jgadsden commented on #116
Hello @NAlhirabi - I guess that there is something wrong in the environment values for your github account; Client ID and Client Secret and session signing key.
Do you want to try the desktop application first? It is easier to set up and once you have evaluated it you can then move on to using github to store your model files.
Threat Dragon Desktop version is here https://github.com/mike-goodwin/o

[2019-11-13 11:42] NAlhirabi commented on #116
Thank you Jon.
The desktop version works 😊
I have been trying to find the code file that enable me to add some shapes / edit the available one but I could not ( I would like to do some changes and see if there is ability to add some features to threat dragon , I am learning )
In the web version it was in td>>public>>app>> threatdragon.js folder but in the desktop version I do not know where to fin

[2019-11-13 12:31] jgadsden commented on #116
Hello @NAlhirabi  - the good news is that this functionality is in the core files that are common to both desktop and web Threat Dragon. These core files are held in a third repo https://github.com/mike-goodwin/owasp-threat-dragon-core. I am not sure exactly what you are trying to change, but the changes should be applied in the core files which are then used to create the mammoth threatdragon.js

[2019-11-21 01:23] hardword commented on #116
Hi @NAlhirabi

I had the same problem and spent some time to debug. It finally works with my OSX env. and I'd like to share my experience.

In my machine:
`export GITHUB_CLIENT_ID=XXXXXX`
`export GITHUB_CLIENT_SECRET=XXXXXX`
`export SESSION_SIGNING_KEY=XXXX(32 byte long random key)` <-- diff from your setting
`export SESSION_ENCRYPTION_KEYS='[{"isPrimary": true, "id": 0, "value": "XXXX(32 byte)"},

[2020-01-14 07:44] rav94 opened #119 "Private github repositories are not listed in Github repo selection step"
The repository was listed only after I changed the repository permissions to the public mode. Think this would be an important option to have because you are providing the Github credentials expecting to view your private repos as well. Plus people would be reluctant to put their threat model diagrams in public.

[2020-02-10 11:45] jgadsden commented on #110
PR in repo owasp-threat-dragon-core that provides a fix has now been merged:
https://github.com/mike-goodwin/owasp-threat-dragon-core/pull/42

[2020-02-10 11:45] #110 closed

[2020-02-10 12:11] #76 closed

[2020-02-10 12:12] jgadsden commented on #74
Hello @anirbanctts - are you still getting this error? If not then I can close this issue

[2020-02-10 12:17] jgadsden commented on #52
Hello @xolian - could you give more detail on the enhancement that you are suggesting?

[2020-02-11 10:08] jgadsden opened #120 "Travis build is failing"
The travis build is failing with
[code]
so the file `.travis.yml` may need to be updated for this?

[2020-02-13 09:55] jgadsden commented on #120
Hello @mike-goodwin , I tried this:
[code]
which got past the shell errors, but then tripped up because of not finding packages that have been commented out and added to `test.js`:
[code]

[2020-02-22 21:57] jgadsden commented on #122
Hello @micheelengronne
There is a gitlab integration from a for of TD:
https://github.com/appsecco/owasp-threat-dragon-gitlab
created by @subashsn . Working at combining this back into TD itself

[2020-02-22 22:00] jgadsden commented on #68
Hello @subashsn
Good to see the gitlab integration at https://github.com/appsecco/owasp-threat-dragon-gitlab
Is it possible to combine this back into this original TD repo?
Thanks, Jon

[2020-03-01 16:38] johocurtest opened #124 "Threat Model-Access Level Controls Defined on the model file -Github"
It seems there is no ACL on the threat model file created in GitHub

Steps:
- Login as User A using your GitHub account
- Create a model
- Share the link with User B
- User B logins in to GitHub and opens model file from User A GitHub repo hyperlink

Result:
User B can change file from User A (no Read/Edit/Modify ACL)

[2020-03-01 23:04] jgadsden commented on #124
Hello @johocurtest - agreed that anyone who has read access to the github repo can see the threat model, and indeed if they have write access then they can modify it, which is a consequence of the permissions on the github repo that is being used.

There are two use cases that I see for TD:
1. web app access to a shared github repo, with access control determined by the repo
2. desktop app used to

[2020-03-02 19:32] jgadsden opened #125 "Remove warnings"
The warning on the main window is _probably_ no longer needed, as we should make any data model changes backwardly compatible.

This is in file td/public/app/welcome/welcome.html

[2020-03-03 12:20] Trolldemorted opened #126 "local model storage (for the webapp)"
Would it be a lot of work to support local storage on the webapp like the electron client does?

This would be great for quick demos for audiences which are unwilling to allow write access to their github repositories, or do not have a github account.

[2020-03-14 15:05] #120 closed

[2020-03-14 15:34] #125 closed

[2020-03-15 11:23] jgadsden opened #129 "Server script fails only when running on Linux"
When running on debian linux, `npm start` exits with the following error :
[code]
Tested on MacOS and Windows and this does not fail => Linux only

[2020-03-15 11:39] #129 closed

[2020-03-18 22:32] jgadsden commented on #106
Hello @solrac901
You can export the threat model as a .pdf report, or print the report. Make sure you have an up to date Threat Dragon, as this was introduced in mid 2019.
Also there is a table of supported browsers at the FAQs tab of [OWASP Threat Dragon](https://owasp.org/www-project-threat-dragon/ ) page

[2020-03-18 22:32] #106 closed

[2020-04-02 07:27] jgadsden opened #138 "Update login page"
Changes that should be applied to the login page:
* The Linux desktop application is now available
* The OWASP project page is now https://owasp.org/www-project-threat-dragon/

[2020-04-02 08:03] jgadsden opened #139 "Link and reference OWASP cheat sheets"
The OWASP project Cheat Sheets provides information on Threat Modeling :
https://cheatsheetseries.owasp.org/cheatsheets/Threat_Modeling_Cheat_Sheet.html
along with other cheat sheets on various defense topics.

[2020-04-07 10:34] fajabird opened #140 "Provide Linux distribution independent packages"
Instead of providing packages in DEB and RPM format, provide distribution independent packages in Appimage (and possibly Flatpak) format. No installation required (appimage).

Example: JITSI (online audio/video conferences) provides a desktop application based on electron and for linux is distrubuted as appimage (https://www.appimagehub.com/p/1248973/).

[2020-04-07 12:01] jgadsden commented on #140
Hello @fajabird - sounds good to me. Are you able to provide this as a PR ? We are going to release version 1.2 in a couple of weeks and this would be good to have. I guess initially alongside the deb and rpm packages.
I am moving this issue to the Desktop Threat Dragon repo, as it is specific to the desktop version:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop

[2020-04-09 13:03] prav10194 commented on #122
I have been trying to use gitlab with threat dragon but after logging into gitlab it takes me to the gitlab homepage and not the dashboard. Any idea how to resolve this?

[2020-04-09 13:14] jgadsden commented on #122
Hello @prav10194 - at present Threat Dragon does not support gitlab integration, this issue is in place for work to be done on this in future

However there is a fork of Threat Dragon provided by Appsecco that does provide this, if I understand correctly, in a separate repo at:
https://github.com/appsecco/owasp-threat-dragon-gitlab

Can you try this different repo and tell me how you get on? It wo

[2020-04-13 21:59] #138 closed

[2020-04-24 06:44] jgadsden opened #146 "LGTM alert"
There is an alert from LGTM in `td/public/app/threatmodels/github.js`

[code]

[2020-04-30 14:41] whereswaldon commented on #72
I think getting a read-write deploy key for the repo would be sufficient. That would only allow access to repo files, but not any of the settings/metatdata/issues/etc.

[2020-05-10 11:49] madchap opened #148 "Too many GitHub permissions required"
When wanting to try TD, it asked me for the following GitHub permissions, which in my opinion are too much:

![image](https://user-images.githubusercontent.com/5468769/81498330-93d9ef00-92c4-11ea-96c3-ab3fde9644da.png)

As a result, I personally didn't want to grant so much.

Maybe it is possible to ask for less and achieve what is needed?

Cheers!

[2020-05-10 12:29] jgadsden commented on #148
Hello @madchap - thanks for raising this issue, it does look too wide and should be much more restricted permissions (if that is possible to do, I am not sure).

Do you want to try out the desktop version of Threat Dragon?
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.2

It uses the local file system rather than github, but you can clone your github repo and then comm

[2020-05-11 05:42] madchap commented on #148
Sure, I'll give it a try.

[2020-05-11 08:02] mike-goodwin-sage commented on #148
The problem is that the OAuth scopes in GitHub are very coarse grained. I couldn't find a cope that would allow it to write the files without aqll the other (unused) permissions to. This is the exact reason why the desktop variant was created. Having said that, there may have been some changes since it was implemented...

[2020-05-11 10:23] jgadsden commented on #72
This is linked to a similar issue #148 , because  of the scopes available in github this has become a documentation issue

[2020-05-11 10:28] #144 closed

[2020-05-11 10:33] jgadsden commented on #126
This would certainly be worthwhile (and probably a lot of work :-) ) because it would also allow Threat Dragon to be deployed as a service, rather than having to locally install the desktop version, in the case where local storage is required

[2020-05-11 14:02] mike-goodwin-sage commented on #148
I think if the app was converted to a GitHub App rather than and OAuth App it would be possible to get fewer permissions, for example it could work by issuing PRs for model changes rather than committing them directly. BUT, this would require longer term storage of access tokens. At the moment the tokens are stored for a pretty short period (like 60 mins after they are last used). They are obvious

[2020-05-12 12:53] RobSkye opened #149 "Auto save desktop version"
Would be great to have all the changes autosaved everytime you make a modification to a diagram, add a threat..etc.

[2020-05-12 13:25] jgadsden commented on #149
Hello @RobSkye , yes, sounds like a good idea. Do you have in mind auto-save to a temporary file so that if TD were to be exited suddenly you would have a backup of the changes? Or is there some other way?

[2020-05-12 15:20] RobSkye commented on #149
That could work but maybe it is more simple to just write in the main file every change.

[2020-05-26 18:34] gbiagomba opened #150 "draw.io and/or visio intergration"
Hello,

This is more of a request than an issue. But is there anyways to open a visio file oran xml file from draw.io into this tool? If no, is it possible to  have that added?

[2020-05-26 21:33] jgadsden commented on #150
Not able to open visio files or xml files at present, @gbiagomba , but there is possibly a draw.io based version of threat dragon coming along later in the year. This may be able to open these files along with the TD json files, so will keep an eye on this.

[2020-05-28 10:00] MRAK96 commented on #119
+1
Any plan to add support for private repo?
We cant let our threat diagrams visible to public eyes.

[2020-05-28 10:51] jgadsden commented on #119
Hello @rav94 and @infa-aksharma , agreed that this is a very good point. We do not have anyone working on this at present, and not sure when this will change.
Are you able to look at this issue yourself and propose a solution? Or if you know of anyone else that could contribute, this would be great.

The alternative is to use Threat Dragon desktop version on a locally cloned repo, and then commit+

[2020-06-04 20:31] jgadsden commented on #23
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/1

[2020-06-04 20:38] jgadsden commented on #50
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/2

[2020-06-04 20:42] jgadsden commented on #52
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/3

[2020-06-04 20:53] jgadsden commented on #68
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/4

[2020-06-04 20:56] jgadsden commented on #72
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/5

[2020-06-05 06:24] jgadsden commented on #74
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/6

[2020-06-05 06:24] jgadsden commented on #116
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/7

[2020-06-05 06:26] jgadsden commented on #119
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/8

[2020-06-05 06:29] jgadsden commented on #122
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/9

[2020-06-05 06:31] jgadsden commented on #124
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/10

[2020-06-05 06:32] jgadsden commented on #126
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/11

[2020-06-05 06:33] jgadsden commented on #139
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/12

[2020-06-05 06:33] #139 closed

[2020-06-05 06:37] jgadsden commented on #146
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/13

[2020-06-05 06:37] #146 closed, assigned to nobody

[2020-06-05 06:40] jgadsden commented on #148
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/14

[2020-06-05 06:42] jgadsden commented on #149
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/15

[2020-06-05 06:42] jgadsden commented on #150
Migrated to new issue in the OWASP area repo : https://github.com/OWASP/threat-dragon/issues/16

[2020-06-05 06:46] #23 closed

[2020-06-05 06:46] #50 closed

[2020-06-05 06:46] #52 closed

[2020-06-05 06:46] #68 closed

[2020-06-05 06:46] #72 closed

[2020-06-05 06:46] #74 closed

[2020-06-05 06:46] #116 closed

[2020-06-05 06:46] #119 closed

[2020-06-05 06:46] #122 closed

[2020-06-05 06:46] #124 closed

[2020-06-05 06:46] #126 closed

[2020-06-05 06:46] #148 closed, assigned to nobody

[2020-06-05 06:46] #149 closed, assigned to nobody

[2020-06-05 06:46] #150 closed, assigned to nobody

[2020-06-14 15:52] danwiltshire opened #152 "User session timeout not handled"
When the user session times out, the application will let the user continue to work on a diagram but the Save function does not operate.

The user will need to refresh the page which will prompt for GitHub authentication resulting in lost progress.

Steps to reproduce:
- Let browser idle or put device to sleep for a period of time
- Continue working in Threat Dragon
- Attempt to save progress.

[2020-06-14 18:47] jgadsden commented on #152
Hello @danwiltshire - this is a very good point, thankyou for raising it. I have copied it also to the OWASP repo : https://github.com/OWASP/threat-dragon/issues/20

[2020-06-21 14:48] ZhangK123 opened #154 "How to deploy it on local.[enviroment variables]"
After i try to deploy for 3 days, i can't stall not deploy it on my computer.     I don't know how to deploy enviroment variables.

After i seted these
    process.env.SESSION_STORE = 'local';
    process.env.NODE_ENV = `development`

it shows:

{"name":"threatdragon","hostname":"DESKTOP-5O3JJ6D","pid":17136,"level":50,"msg":"owasp threat dragon failed to start up","time":"2020-06-21T12:40:43.293Z

[2020-06-21 20:17] ZhangK123 commented on #154
D:\CodeSpace\ow\owasp-threat-dragon> set SESSION_SIGNING_KEY=local & set NODE_ENV=development & npm start

{"name":"threatdragon","excludes":["req-headers","res-headers","res","req","short-body","body","response-hrtime","incoming","user-agent","response-time","http-version"],"hostname":"DESKTOP-5O3JJ6D","pid":2780,"level":50,"security":true,"msg":"local session store used - should only happen in d

[2020-06-21 20:18] ZhangK123 commented on #154
this is how i run the code, i try to edit session.config.js,   and try to run the code with command line,   but they all doesn't works.        I don't know how to set "OAuth2Strategy requires a clientID option",

[2020-06-21 20:27] jgadsden commented on #154
Hello @ZhangK123 , you need to set up all these environment variables:

- GITHUB_CLIENT_ID
- GITHUB_CLIENT_SECRET
- SESSION_SIGNING_KEY
- SESSION_ENCRYPTION_KEYS
- SESSION_STORE
- NODE_ENV

I agree the documentation is not very explicit, and it probably needs documenting more fully.

Once you have all the steps in https://github.com/settings/applications/new then you end up with entering these exp

[2020-06-21 20:32] ZhangK123 commented on #154
OK Thank you i will try it now.

[2020-06-21 20:35] jgadsden commented on #154
I will try and give a step-by-step guide sometime in the next day or so, but in the meantime do you want to try the desktop application first? It is easier to set up and once you have evaluated it you can then move on to using github to store your model files.

Threat Dragon Desktop version is here https://github.com/owasp/threat-dragon-desktop and the install is easy once you have downloaded the

[2020-06-21 20:40] ZhangK123 commented on #154
I will try it. Thank you.

[2020-06-23 07:49] jgadsden commented on #154
Hello @ZhangK123

here are the steps to set up the environment variables:

* In your github account, go to Settings -> 'Developer settings' -> 'OAuth Apps' -> 'New OAuth App'
* fill out the form with the following:
**Application name**: not critical, suggest something like 'Threat Dragon'
**Homepage URL**: http://localhost:3000
**Application description**: not critical, suggest something like 'thr

[2020-06-25 23:45] ZhangK123 commented on #154
Thank for your help. I finally successfully set up the enviroment variables

This is how i set these variables in Win10:

Add these lines to ./td/app.js:
6      try {
7             process.env.GITHUB_CLIENT_ID = 'a12345bc123aa123bb12 ';
8             process.env.GITHUB_CLIENT_SECRET = '0123456789abcdef0123456789abcdef01234567';
9             process.env.NODE_ENV = 'development';
10           proce

[2020-06-25 23:46] #154 closed, assigned to nobody

[2020-06-26 03:31] jgadsden commented on #154
Hello @ZhangK123 - good news that you are now running Threat Dragon, I hope you like it.
I realise that I had sent you the example commands for Linux / MacOS, not Windows ... I am a linux sort of guy myself. I will make sure I updated the instructions with Windows commands as well

[2020-07-03 03:05] kparris007 opened #156 "Undo - threat model diagram editor"
Undo button or Ctrl-Z does not work in the threat model diagram editor.

[2020-07-03 07:36] jgadsden commented on #156
Yes, agreed - it is something that we would like to add to TD and is the subject of an issue in the migrated repo :

'unable to Undo' - https://github.com/OWASP/threat-dragon-core/issues/4

There is a discussion on whether to migrate to draw.io or stay with jointjs - draw.io would provide the undo/redo straight away

[2020-07-05 03:10] kparris007 opened #157 "File - Save - threat model diagram"
On some occasions, the File - Save option does not save the threat model diagram and any updates which were made to the diagram are lost. To overcome this issue, the diagram should be saved within the diagram editor before saving the file.

[2020-07-06 08:29] jgadsden commented on #157
This is similar to the issue raised in https://github.com/OWASP/threat-dragon-core/issues/27 - can I close this one as a duplicate @kparris007

[2020-08-04 11:19] JOSHUAJEBARAJ opened #158 "Update the threat Dragon Home Page"
Recently `owasp-threat-dragon` starts supporting linux for Desktop but the home page still says `Linux coming soon` Please update it As soon as possible

https://threatdragon.org/login

[2020-08-04 13:07] jgadsden commented on #158
Thankyou @JOSHUAJEBARAJ - this is a very good point. The gh-pages branch was updated a while ago to include Linux as a supported platform, and so http://docs.threatdragon.org is updated.

However, https://threatdragon.org needs @mike-goodwin to promote it to the web site by making a commit to the `master` branch, and also to the `development` branch

@mike-goodwin could you promote the latest appl

[2020-08-04 13:18] jgadsden commented on #158
As version 1.3 is coming along soon, in the next two weeks - I could provide PR to both `master` and `development` that will fix up both demonstration sites if @mike-goodwin merges them?

[2020-08-14 17:56] gbiagomba commented on #150
thank you @jgadsden

[2020-09-23 14:54] dactylroot opened #160 "Navigation (Usage Question)"
Hi,

How do you navigate back to the high-level "Project View" from within a single diagram? I do this by re-opening the project JSON file.

(I apologize, this doesn't seem like the right forum. Where is the best place to make questions about Threat Dragon usage?)

Best,
Michael

[2020-09-27 06:36] jgadsden commented on #160
Hello @statueofmike - sorry for the slow response, on holiday in Devon with intermittent network.

Within the diagram you can return to the project view page by closing the diagram (the second button of the seven diagram buttons, marked with a cross). I agree it is not intuitive, and this is a question that has come up a couple of times now, so I will add a FAQ to :

https://owasp.org/www-project-

[2020-10-12 12:54] barbich opened #161 "Content on threatdragon.org"
hello
considering the new home for downloads&code for threat-dragon is on https://github.com/OWASP/threat-dragon it would be helpful to update the relevant content on threatdragon.org (docs, github link,...).

Thanks,

[2020-10-12 16:23] jgadsden commented on #161
Hello @barbich - another good point made. I think we may be able to fix up the pages, or possibly create a similar site to threatdragon.org.
@mike-goodwin are you able to help out here?

Thanks, Jon

[2020-10-12 17:14] dylanjohnsonsfo commented on #161
Hi Mike

Hope you are keeping well ! We are loving the threat dragon and are
planning to use it across our org in the near future. I was wondering if
you would be up for doing a hangouts to give folks an overview on what it
is, why it's useful and  why you created it, plus how they can
contribute to it ? I think it's great and would love to help you promote
it, if that is something you are interes

[2020-10-13 21:51] jgadsden commented on #161
Hello @dylanjohnsonsfo - agreed that @mike-goodwin is the go-to guy when it comes to Threat Dragon, he leads the project and wrote all the code.

If it helps Mike recently did a lightning demo recorded during the OWASP Open Security Summit in June 2020:
https://youtu.be/n6JGcZGFq5o

There was also an OWASP podcast mid this year ... I can look out the link for that if you would like ?

Cheers,
Jon

[2020-10-13 21:51] #161 closed, assigned to mike-goodwin, jgadsden

[2020-10-13 21:57] jgadsden commented on #161
Hello @barbich - to update threatdragon.org (including docs.threatdragon.org) requires @mike-goodwin as owner of this repo. Since the move to the OWASP area we are increasing the number of people who have permissions on this sort of thing, so a new docs area has been created to provide threatdragon.github.io . The links in the 3 repos have been updated to point to this site - so this will be in th

[2020-10-26 19:10] trimbletraining opened #162 "Are there any plans to add support for other SCM providers ?"
Are there any plans afoot to add support for integration with other SCM providers like enterprise bitbucket etc? If not I could help with this?

[2021-02-03 16:16] jgadsden commented on #162
Hello @trimbletraining - really sorry, but I have only just seen this. Yes, definitely it would be great if you could help with this.
Threat Dragon was migrated from Mike's personal github space to the OWASP github area, and this is where the active development is taking place:
https://github.com/OWASP/threat-dragon

along with
https://github.com/OWASP/threat-dragon-core
and
https://github.com/OWA

[2021-02-12 14:08] TheSecMaven commented on #162
same here, Will go to other repo but gitlab support, especially for on prem installations, would be great!

[2021-02-12 15:37] jgadsden commented on #162
Hello @mkkeffeler - yes, agreed, and gitlab support is planned for version 2.0 which we hope is later this year

[2021-03-17 08:26] lukfe85 opened #164 "Improve the DFD printing"
Dear OWASP,
I am using the latest version 1.3.1 on Mac. If the DFD is too big, the diagram is not correctly printed. The scroll bars appear but the diagram is not complete. Check the screenshot
<img width="881" alt="DFD Print bug" src="https://user-images.githubusercontent.com/80815574/111436919-cb929e00-8702-11eb-9d5d-3461e8bca54a.png">
Thanks

[2021-03-17 08:31] lukfe85 opened #165 "Improve the movement option - Enhancement request"
Dear Owasp,
moving a data flow or trust boundary is very difficult. Could you improve the move option by selecting the whole arrow instead of moving first one end and then another end? Moving arrows should be a single operation like Actors, Stores and Processes.Also, add an option to select all the items inside the DFD for moving them down, up, left or right. Sometimes, you need to move down all t

[2021-03-17 08:38] jgadsden commented on #164
Hello @lukfe85 - this is a very good point. It is something that we hope to change for version 2.0 later this year. The new area for Threat Dragon is in the OWASP github organisation - do you want to raise the issue there?
https://github.com/OWASP/threat-dragon-core/issues

Cheers, Jon

[2021-03-17 08:41] jgadsden commented on #165
Hello @lukfe85 - another very good point

The drawing package is usig JointJS, and we are limited to what we can do with the free-to-use version. We hope to change the drawing package for mxgraph in version 2.0 later this year.

Do you want to raise this issue in the new area for Threat Dragon in the OWASP github organisation ?
https://github.com/OWASP/threat-dragon-core/issues

Cheers, Jon

[2021-03-17 10:01] lukfe85 commented on #164
Thanks @jgadsden I did it.

[2021-03-17 10:01] #164 closed, assigned to nobody

[2021-03-17 10:30] lukfe85 commented on #165
Hello @jgadsden, can you move the thread to the proper section? Thanks

[2021-05-12 14:31] bcamer opened #166 "OWASP Threat Dragon fails on Macintosh"
I downloaded the MacOS installer from here:
https://github.com/OWASP/threat-dragon-desktop/releases

When I try running it on my MacBook Pro (intel) running Big Sur, it fails and gives this error.

A JavaScript error occurred in the main process
Uncaught Exception:
Error: callback can only be called for once
at Object.module.<computed> [as getPrimaryDisplay] (electron/js2c/browser_init.js:6859:30)

[2021-05-12 14:40] #166 closed, assigned to nobody

[2021-05-12 14:43] bcamer commented on #166
This seems to happen when you try and run it when it is already running.  This happened to me when I tried to install it and the first time it failed to run due to iOS not recognizing it from the Apple Store.  After updating the security settings it gave me this error until I exited the initial process I started.

[2021-05-19 11:29] rob-at-cortex opened #167 "Viewer"
is there any way of just viewing a model?
i.e. a react component that loads a model file and renders it? no editing needed

[2021-07-22 07:58] jgadsden commented on #167
Hello @rob-at-airwalk

Sorry to have not responded earlier, I have not been keeping a close enough eye on Mike's repo

Threat Dragon has been migrated to a new github area in the OWASP github organisation:

https://github.com/OWASP/threat-dragon

In that repo there are some [FAQs](https://github.com/OWASP/threat-dragon/wiki/FAQs#threat-dragon-faqs) that may help. Can you have a look and see if any